<!DOCTYPE html>
<html>

<head>
    <title>jQuery Test</title>
    <!-- Include jQuery library from a CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <!-- Your HTML content here -->
    <h1>Hello, jQuery!</h1>

    <!-- Example usage of jQuery -->
    <script>
        $(document).ready(function () {
            // Test jQuery functionality
            var message = 'jQuery is running!';
            console.log(message);
            alert(message);
        });
    </script>
</body>

</html>