<div id="intro-1" class="flex-container">
    <div class="flex-empty"></div>
    <div id='greeting' class="flex-content align-center">
        <div class="greeting-child">
            MDM Project<br>Group 10
        </div>
    </div>
    <div class="flex-empty"></div>
</div>