:root {
    --search-area-background: #eee8e8c9;
    --card-default-width: 225px;
    --card-default-height: 125px;
    /* --card-img-default-width: calc(var(--card-default-width) -5px);
    --card-img-default-height: calc(var(--card-default-height)-5px);
 */
}

.search-box {
    background-color: var(--search-area-background);
}

#search.flex-container {
    background-color: var(--search-area-background);
}

.nearby-box {}

.continent-box {}

.flex-content.location-box {
    margin-right: 10px;
}

.card-container {
    margin: 0;
    padding: 0;
    aspect-ratio: 2;
}

.location-box {
    display: grid;
    grid-gap: 10px;
    margin: 25px;
    grid-template-columns: repeat(auto-fit, minmax(225px, 280px));
    grid-template-rows: auto;
}

/* ==================== Filetered Page ==================== */

#search-nav {}



.continent-activities {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 5px;
}

#location-nav {}

.acttraction-card {
    max-height: 200px;
    margin-right: 15px;
    min-width: 800px;

}

.attraction-img-cell {
    max-width: 190px;
    max-height: 190px;
}

.attraction-info-cell {
    margin-right: 5px;
}

.search-box {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    gap: 0;
}

.transparent-form {
    background-color: transparent;
    border: none;
}

.search-field {
    margin-right: 10px;
}

.input-group-append {
    cursor: pointer;
}

.search-area {}

@media (max-width: 1200px) {
    .continent-activities {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
        gap: 10px;
        /* Optional: Adds gap between grid items */
    }

    .acttraction-card {
        min-width: 800px;
    }
}