* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    top: 0
}

body #header-bar {
    background-color: red;
}

#title {
    font-size: 30px;
    margin-right: auto;
    align-items: center;
}

#title a {
    color: white;
    text-decoration: none;
}

.item-1 {
    background-color: rgba(6, 35, 114, 0.993);
}

.item-2 {
    flex-grow: 1;
}

.flex-container {
    display: flex;

}

.flex-empty {
    flex: 1;
}

.flex-content {
    flex-basis: 1500px;
    margin-left: 10px;
}



#header-bar-1 {}


#website-name {
    grid-area: website-name;
    justify-self: start;
    align-self: center;
}

#user-profile {
    grid-area: user-profile;
    justify-self: end;
    align-self: center;
}

#service-list {
    grid-area: service-list;
    justify-self: start;
    align-self: center;
}

#header {
    display: grid;
    grid-template:
        'website-name user-profile'
        'service-list user-profile';
    grid-gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#website-name a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

#service-list ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: 5px;
}

#service-list li {
    color: white;
    font-size: 15px;
    margin-right: 10px;
    list-style-type: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#service-list li a {
    color: white;
    text-decoration: none;
}

#service-list li a:hover {
    color: cyan;
    font-weight: bold;
}

.selected-route {
    font-weight: bold;
}

#dropdownMenuButton1 {
    color: white;
    font-size: 20px;
}

#login-buttom {
    color: white;
    font-size: 20px;
    margin-right: 20px;
}

.avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn-transparent {
    background-color: transparent;
    border-color: transparent;
}

#intro-1 {
    --intro1-width: 1200px;
    --intro1-height: 340px;
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), black), url("https://r-xx.bstatic.com/xdata/images/xphoto/2880x868/223062456.jpeg?k=3c1555a2caa5e7356d70b596546ae4b4d92278f6fb0bdc08668ae333fd50fa6b&o=");
    background-size: var(--intro1-width) var(--intro1-height);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    height: var(--intro1-height);
}

.align-center {
    align-self: center;
}

#intro-1 .flex-content {
    font-size: 80px;
    color: white;
}

#greeting.flex-content {
    display: flex;
    align-items: center;
}

.greeting-child {
    flex: 1 1 auto;
    /* max-width: 200px; */
    transition: font-size 0.5s ease;
}

@media (max-width: 330px) {
    .greeting-child {
        font-size: 55px;
    }
}

@media (min-width: 330px) and (max-width: 550px) {
    .greeting-child {
        font-size: 70px;
    }
}

@media (min-width: 550px) {
    .greeting-child {
        font-size: 90px;
    }
}


.offcanvas {
    width: 70% !important;
}

.line {
    border: none;
    border-top: 1px solid #b9b5b560;
    margin: 10px 0;
}